alembic
aniso8601
asttokens
autocommand
backports.tarfile
blinker
build
click
decorator
executing
Faker
Flask
flask-cors
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
h11
importlib_metadata
inflect
ipdb
ipython
ipython_pygments_lexers
itsdangerous
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
jedi
Jinja2
Mako
MarkupSafe
matplotlib-inline
more-itertools
packaging
parso
pexpect
pip-review
pip-tools
platformdirs
prompt_toolkit
psycopg2-binary
ptyprocess
pure_eval
Pygments
pyproject_hooks
python-dotenv
pytz
setuptools
six
SQLAlchemy
sqlalchemy-serializer
stack-data
tomli
traitlets
typeguard
typing_extensions
tzdata
wcwidth
Werkzeug
wheel
zipp
